*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;   
}

/* common code start*/
html{
    scroll-behavior: smooth;
}
#clear-section{
    display: table;
    clear: both;
    content: '';
    margin-bottom: 8rem;
}
body{
    color: #212121;
    background-color: #f1f5f9;
}
.cloud-title p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.6;
    margin-bottom: 20px;
}
h2{
    font-size: 30px;
    text-align: center;
}
/*header-section start*/
#header-section{
    width: 100%;
    height: 65px;
    background-color: #000;

} 
#header-section .header{
    display: flex;
    justify-content: space-between;
} 
#header-section .header .logo{
    width: 40%;
    display: flex;
    margin-left: -65px;
    justify-content: right;
} 
.header .logo img{
    width: 140px;
    margin-top: 10px;
    font-weight: 500;
} 
.header-links{
    width: 50%;
    margin: 20px -120px 0 0;
}
.header-links ul{
    display: flex;
}
.header-links ul li{
    margin: 0 15px;
    list-style: none
}
.header-links ul li a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
} 
/*description-body start*/
.desc-body{
    clip-path: polygon(0 0, 100% 0, 100% 91%, 0 100%);
    display: flex;
    color:#fff;
    justify-content: right;
    background-color: #000;
}
.desc-body-left{
    width: 50%;
    margin-left: 190px;
    margin-top: 13vh;
} 
.desc-body-left h1{
    font-size: 3.2rem;
    margin-left: 126px;
}
.desc-body-left p{
    font-weight: 300;
    margin-left: 126px;
    opacity: 0.5;
} 
.desc-body-left .button{
    width: 120px;
    height: 45px;
    padding: 10px 10px 16px ;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    background-color: red;
    margin-top: 20px;
    margin-left: 126px;
} 
.desc-body-right{
    width: 50%;
    margin-top: -40px;
    margin-left: -120px;
} 
.desc-body-right img{
    width:70% ;
    height: 450px;
    margin-top: -10px;
    margin-right: 290px;
    text-align: right;
}
/* title section start */
.title-start{
    text-align: center;
}
.body-title{
    margin-top: 20px;
    margin-bottom: 2rem;
}
.body-title ~ h2{
    font-weight: bold;
}
.body-title ~ p{
    margin: 15px 0;
    font-size: 13px;
    font-weight: bold;
    opacity: 0.5;
}
.input-field{
    display: flex;
    justify-content: center;
}
.input-field .text-btn{
    width: 500px;
    height: 45px;
    position: relative;
    padding: 15px 27px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
    outline: none;
    border: none;
    border-radius: 25px;
}
.input-field .text-btn::placeholder{
    font-weight: bold;
    opacity: 0.5;
    margin-left: 13px;
}
.input-field .search-btn {
    width: 120px;
    height: 40px;
    position: absolute;
    font-size: 15px;
    outline: none;
    border: none;
    margin-top: 2px;
    margin-right: -25rem;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    color: #fff;
    background-color: red;
}
.domain-price-list{
    display: flex;
    justify-content: center
}
.domain-price-list ul .price{
    width: 80px;
    height: 20px;
    color: #fff;
    border-radius: 30px;
    background-color: #32bfe2;
}
.domain-price-list ul{
    display: flex;
    margin-left: 35px;
}
.domain-price-list ul li{
    list-style: none;
    margin: 0 10px;
    font-size: 12px;
    color: #130d0d;
    font-weight: bold;
    opacity: 0.8; ;
}

/* card section start here */
#card-section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 3rem;
    margin-left: 5px;
    margin-bottom:3rem;
}
.card .left-card{
    width:14rem;
    height: 20rem;
    padding-left: 5px;
    background-color: #fff;
}
.left-card .card-title{
    width: 100%;
    height: auto;
    color: #fff;
    padding: 15px;
    background-color: rgb(82, 219, 219);
}
.left-card .card-title .entry{
    font-size: 13px;
    font-weight: bold;
}
.left-card .card-title .discount-amount{
    display: flex;
}
.discount-amount h3{
    font-size: 2rem;
    font-weight: 300;
}
.discount-amount sup{
    margin-top: 17px;
    margin-left: 5px;
}
.discount-amount .discount{
    width: 25px;
    height: 8px;
    font-size: 7px;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(20, 180, 127);
    margin-left: 5px;
}
.card-title .discount-amount~p{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 5px;
}
/* card-body starts here */
.card-body{
    padding: 15px ;
    background-color: #f1f2f5;
}
.card-body ul {
    color: #212121;
    font-size: 14px;
    padding: 3px 0;
    font-weight: 500;
}
.card-body ul img{
    margin-top: 3px;
}

/* button */

.card-body button{
    width: 80%;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 23px;
    margin-left:12px ;
    background: none;
    border-radius: 20px;
}

/* cloud body starts here */
#cloud-body .cloud-title ~ p{
    text-align: center;
}
.cloud-card{
    width: 80%;
    display: flex;
    margin-top: 4rem;
    margin-left: 5rem;
    padding: 15px 0;
    justify-content: center;
}
.cloud-card .cloud-card-left{
    width: 35%;
    height: 5rem;
    margin-left: 25px;
}
.cloud-card .cloud-card-left img{
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;
    color: rgb(39, 78, 204);
    background-color: azure;
}
.cloud-card .cloud-card-left h4{
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0;
}
.cloud-card .cloud-card-left p{
    font-size: 13px;
    line-height-step: 5px;
    font-weight: bold;
    opacity: 0.7;
    padding-bottom: 8px ;
}
.cloud-card .cloud-card-left a{
    font-size: 12px;
    color: rgb(184, 33, 33);
    font-weight: bold;
    margin-top: 12px;
    text-decoration: none;
    text-overflow: inherit;
}
.cloud-card .cloud-card-right{
    width: 35%;
    margin-left: 3rem;
}
.cloud-card .cloud-card-right img {
    width: 23rem;
    margin-left: 2rem;
    height: 11rem;
    padding: 0 25px;
    border-radius: 10px;
}
/* cloud bottom starts */
.cloud-card .cloud-card-bottomleft{
    width: 35%;
    height: 5rem;
    margin-left: 25px;
}
.cloud-card .cloud-card-bottomright {
    width: 35%;
    height: 5rem;
    margin-left: 10rem;
}
.cloud-card .cloud-card-bottomright img {
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
}
.cloud-card .cloud-card-bottomright h4{
    font-size: 18px;
    font-weight: bold;
    padding: 7px 0;
}
.cloud-card .cloud-card-bottomright p{
    font-size: 13px;
    line-height-step: 5px;
    font-weight: bold;
    opacity: 0.7;
    padding-bottom: 8px ;
}
.cloud-card .cloud-card-bottomright a{
    font-size: 12px;
    color: rgb(184, 33, 33);
    font-weight: bold;
    margin-top: 12px;
    text-decoration: none;
    text-overflow: inherit;
}
.cloud-card .cloud-card-bottomleft{
    width: 35%;
    margin-left: 3.5rem;
}
.card-cloud{
    margin-top: 12rem;
}
.cloud-bottom{
    margin-bottom: 3rem;
}
.cloud-card .cloud-card-bottomleft img {
    width: 22rem;
    height: 12rem;
    font-size: 14px;
    margin-left: 2rem;
}
/* control pannel start here */
#control-panel{
    /* width: 100%;
    height: 500px;
    clip-path: ; */
    padding-bottom: 4rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
    color: #fff;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: #000;
    position: relative;
}
#control-panel h2{
    padding: 2rem 0;
}
.control-body{
    display: flex;
}
.control-section{
    padding: 6px 0 25px 0;
}
.control-left .control-section-left img {
    width: 21rem;
    height: 15rem;
    margin-left: 3rem;
}
.control-section .control-section-right{
    width: 60%;
    display: flex;
    margin-left: 1rem;
}
.control-section-right .left-section img{
    width: 2rem;
    height: 2rem;
    background-color: rgb(57, 123, 223);
    margin-top: 7px;
}
.control-section .right-section{
    margin-left: 1rem;
}
.control-section .right-section h4{
font-weight: bold;
margin-bottom: 10px;
}
.control-section .right-section p{
    font-size: 12px;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 16px;
}
.control-section-right .left-section img{
    width: 2rem;
    height: 2rem;
}
/* about-me section */
#about-me-section{
    margin-top: 2rem;
}
.about-title{
    text-align: center;
}
.about-title p{
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.5;
    margin-bottom: 16px;
}
.about-me{
    width: 70%;
    height: 14rem;
    margin: auto;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 3rem;
    background-color: #fff;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.about-me .about-me-left img{
    margin:15px 15px;
}
.about-me .about-me-right P{
    width: 90%;
    font-weight: bold;
    opacity: 0.5;
    margin-top: 2rem;
    margin-left: 10px;
    margin-bottom: 1rem;
    font-size: 15px;
    padding: 10 15px;
    text-align: justify;
}
.about-me .about-me-right big{
    font-weight: bold;
    margin-left: 3rem;
    font-size: 15px;
}
.about-me .about-me-right small{
    margin-left: 3rem;
    font-weight: bold;
    margin-left: 3rem;
    opacity: 0.5;
}
/* get start section */

#get-start-section .get-start{
    width: 60%;
    height: 6rem;
    display: flex;
    position: relative;
    margin: auto;
    z-index: 1;
    padding: 10px 15px 30px 15px;
    border-radius: 5px;
    color: #fff;
    background-color:rgb(15, 124, 233);
}
#get-start-section .get-start-left h3{
    font-weight: bold;
    font-size: 22px;
    margin-left: 15px;
}
#get-start-section .get-start-left p{
    width: 70%;
    font-size: 14px;
    text-align: justify;
    opacity: 0.8;
    margin-left: 15px;
}
.get-start-right button{
    width: 6rem;
    height: 2rem;
    padding: 5px;
    outline: none;
    border: none;
    font-size: 8px;
    color: #fff;
    border-radius: 30px;
    margin-top: 1.7rem;
    margin-right: 15px;
    background-color: rgba(64, 214, 169, 0.5);
}
/* footer section starts here */
#footer-section{
    margin-top: -3rem;
}
.footer{
    width: 100%;
    height: 20rem;
    margin: auto;
    justify-content: center;
    display: flex;
    position: absolute;
    background-color: #000;
    color: #fff;
}
.footer .footer-section-left{
    margin-top: 6rem;
    margin-right: 3.5rem;
}
.footer .footer-section-left P{
    font-size: 12px;
}

.footer .footer-section-right{
    margin-top: 6rem;
    margin-left: 2rem;
    display: flex;
}
.footer-section-title h5{
    padding: 10px; 
    margin-right: 13px;
}
.footer-section-right-linksection li{
    list-style-type: none;
    padding-bottom: 5px;
    margin-right: 2rem;    
}
.footer-section-right-linksection li a{
    text-decoration: none;
    color: #fff;
    opacity: 0.6;
    font-size: 14px;   
}
